.staggered-list-content {
    width: 400px;
    margin: 2rem auto;
}
.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
}
.list li {
    width: 100%;
}
.list li + li {
    margin-top: 1rem;
}
.listItem {
    width: 100%;
    cursor: pointer;
    background-color: #d0d0d0;
    overflow: hidden;
}
.listItemContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 100px;
    background-color: grey;
    margin-right: 2rem;
}
.avatarExpanded {
    width: 8rem;
    height: 8rem;
    margin-right: 0;
    margin-bottom: 1rem;
}
.description > div {
    background-color: grey;
    width: 14rem;
    border-radius: 6px;
    height: 0.5rem;
}
.description > div:nth-of-type(2) {
    width: 11rem;
}
.description > div:nth-of-type(3) {
    width: 8rem;
}
.description > div + div {
    margin-top: 1rem;
}
.expandedListItem .description {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.expandedListItem {
    cursor: pointer;
    background-color: #d0d0d0;
}
.expandedListItemContent {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.additional-content {
    width: 100%;
    margin-top: 2rem;
}

.additional-content > div {
    opacity: 0;
    border-radius: 3px;
    background-color: #fffdfd;
    height: 5rem;
}

/* content fade in animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
    }
}

.animated-in .additional-content > div {
    animation: fadeIn 0.4s forwards;
}

.additional-content > div:nth-of-type(2) {
    animation-delay: 0.15s;
}
.additional-content > div:nth-of-type(3) {
    animation-delay: 0.3s;
}
.additional-content > div + div {
    margin-top: 1rem;
}
